body {
  margin: 0;
  padding: 0;
  --palecool: #f1f8ff;
  --textgray: #4a4a4a;
  --palergray: #979797;
  --maxwidth: 1200px;
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--textgray);
  background-color: #fff;
  letter-spacing: 0.15em;
  text-align: center;
}

p span{
    font-size: 12px;
}

.bigimg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: var(--maxwidth);
  display: block;
  /* padding-top: 82px; */
}
img {
  width: 100%;
  height: auto;
}
#topbar {
  width: 100%;
  /* max-width:1024px; */
  background-color: white;
  position: fixed;
  top:0;
  height: 82px;
  border-bottom: 1px solid var(--palergray);
}
#logo {
  width: 130px;
  height: 16px;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  padding: 32px 60px;
}
.topnav {
  width: 100%;
  /* max-width: var(--maxwidth); */
  margin: 0 auto;
  display: block;
}
.hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 19px;
  cursor:pointer;
}

.openlines {
  position: absolute;
  width: 60%;
  height: auto;
  top: 12px;
  left: 8px;
}
.closex {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
}
.navmenu {
  display: inline-flex;
  position: absolute;
  top: 13px;
  right: 30px;
  list-style: none;
  height: 20px;
  width: 240px;
  font-size:14px;
  justify-content: space-around;
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--textgray);
}
a:hover {
  text-decoration: underline;
  color: var(--textgray);
}
.wrap{
    position: absolute;
    top: calc(94px + 7vw);
    left: 46%;
    max-width: 50vw;
}
.wrap p{
    align-self: center; 
    margin: 0 auto;
    max-width: 608px;
    line-height: 1.5;
    padding: 20px;
    font-size: 1.5vw;
}

.contactText{
    position: absolute;
    display: block;
    top: 130px;
    left: 56%;
    padding:6%;
}
.aboutText{
  position: absolute;
  width: 43%;
  height: 100%;
  top: 0;
  left: 38%;
  align-items: center;
  padding: 0 4%;
  display: flex;
}

#contactimage{
  width:44%;
  height:auto;
  display: block;
  padding: 30px 8%;
}
#frank{
  width:25%;
  height:auto;
  display:block;
  padding:6%;
}

.brands{
  background-color:#f2f8ff;
  padding: 20px 50px;
}


.brands ul {
  list-style: none;
  display: grid;
  font-size: 12px;
  text-align: left;
  line-height: 3em;
  grid-template-columns: 29% 29% 33%;
}

.toprow{
  position: relative;
}

.main{
  margin-top: 82px;
}

.navmenu li {
  transform: translate(-24px,0);
}

























@media (max-width:1208px) {
  .brands ul {
    grid-template-columns: 45% 55%;
  }
  .aboutText{
    width:52%;
    left:34%;
  }
}

@media (max-width:767px) {
   
    .brands ul {
      grid-template-columns: 1fr;
    }
    .aboutText{
      position: relative;
      width: unset;
      left:0;
      align-items: center;
      padding: 0 50px;
      display: flex;
    }
    #frank {
      padding-bottom: 20px;
      margin: 0 auto;
  }
  .contactText{
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding: 20px;
  }
  #contactimage {
    width: 50%;
    display: block;
    padding: 40px 0 0 0;
    margin: 0 auto;
  }
  #logo{
    width: 100px;
    padding: 35px 24px;
  }
  .hamburger{
    right:12px;
    top:20px;
    width: 34px;
  }
  .navmenu{
    width:190px;
    right: 23px;
    top: 16px;
  }
  .closex {
    top: 4px;
    left: 1px;
  }
  .navmenu li {
    transform: translate(6px,0);
  }
  
}

@media (max-width:410px) {
    .navmenu{
        width:70%;
        top:40px;
    }
    .navmenu li {
      transform: translate(38px, 0px);
  }
}