body {
  margin: 0;
  padding: 0;
  --palecool: #f1f8ff;
  --textgray: #4a4a4a;

  --lightertext: #8f8e90;
  --palergray: #979797;
  --darkblue: #2e3448;
  --maxwidth: 1024px;
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--textgray);
  background-color: #fff;
  letter-spacing: 0.15em;
  text-align: center;
}
.layout {
  opacity: 0.3;
  width: 1024px;
  position: relative;
  top: -85px;
  pointer-events: none;
  display: inline-block;
}

.nbigimg {
  position: relative;
  max-width: var(--maxwidth);
  margin: 0 auto;
}

.contact .main p span{
  font-size: 12px;
}

p.glen {
  font-size: 14px;
  padding-top: 1em;
}
span.atsign {
  font-size: 15px !important;
}

/* bigimg is for centering the picture elements  */
.bigimg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: var(--maxwidth);
  display: block;
  position: relative;
}
.contact .bigimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: auto;
}
#topbar {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  height: 78px;
  border-bottom: 1px solid var(--palergray);
}
#logo {
  width: 147px;
  height: 16px;
  display: block;
  position: relative;
  left: -4px;
  top: -1px;
  padding: 32px 27px;
}
.topnav {
  width: 100%;
  /* max-width: var(--maxwidth); */
  margin: 0 auto;
  display: block;
}
.hamburger {
  width: 32px;
  /* height: 40px; */
  position: absolute;
  right: 41px;
  top: 17px;
  cursor: pointer;
}
.openlines {
  position: absolute;
  /* width: 60%; */
  /* height: auto; */
  top: 12px;
  left: 8px;
}
.closex {
  position: absolute;
  width: 100%;
  height: auto;
  top: 5px;
  opacity: 0;
}
.navmenu {
  display: inline-flex;
  position: absolute;
  top: 14px;
  list-style: none;
  height: 20px;
  font-size: 14px;
  width:288px;
  /* border:1px dotted skyblue; */
  justify-content: space-evenly;
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--textgray);
}
a:hover {
  /* text-decoration: underline; */
  color: var(--palergray);
}
.wrap {
  position: absolute;
  top: calc(94px + 7vw);
  left: 46%;
  max-width: 50vw;
}
.wrap p {
  align-self: center;
  margin: 0 auto;
  max-width: 608px;
  line-height: 1.5;
  padding: 20px;
  font-size: 1.5vw;
}

.contactText {
  display: flex;
  line-height: 1.78;
  padding: 0 20%;
  flex-direction: column;
  color: var(--textgray);
}
.aboutText {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  left: 38%;
  align-items: center;
  padding: 0 4%;
  display: flex;
}

#contactimage {
  width: 44%;
  max-width: 317px;
  height: auto;
  display: block;
  padding: 26px 10% 26px 0;

  position: relative;
  left: 100px;
}
#frank {
  width: 25%;
  height: auto;
  display: block;
  padding: 6%;
  /* opacity:.8; */
}

.brands {
  background-color: #f2f8ff;
  padding: 20px 50px;
}

.brands ul {
  list-style: none;
  display: grid;
  font-size: 12px;
  text-align: left;
  line-height: 3em;
  grid-template-columns: 29% 29% 33%;
}

.toprow {
  position: relative;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--darkblue);
  color: #fff;
  width: 100%;
  height: 312px;
  position:relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* position: absolute;
    bottom: 0; left: 0; */
  /* display:none; */
}
.home footer {
  top: 5215px;
  position: absolute;
}
footer h5 {
  font-family: "Cormorant Garamond", serif;
  font-size: 33px;
  font-style: italic;
  font-weight: 100;
  color: #fff;
}

.bottomtext {
  width: 95vw;
  font-size: 7px;
  display: inline-flex;
  justify-content: space-around;
  align-self: flex-end;
  height: 20px;
  position: absolute;
  align-self: center;
  align-items: baseline;
  margin-top: 240px;
  text-align: center;
  opacity: 0.8;
}
.bottomtext span {
  font-size: 10px;
  vertical-align: revert;
}

.thanks {
  width: 100%;
}

.thanks img {
  max-width: 386px;
  min-width: 200px;
  width: 33%;
}

.vidwrap {
  /* width: 697px;
  max-width: 655px; */
  display: block;
  width: 557px;
  height: 306px !important;
  position: absolute;

  top: 797px;
  left: 441px;
  overflow: hidden;
}

/* also adding for vid:  */
.main {
  margin-top: 82px;
  position: relative;
  display: block;
}

video {
  width: 560px;
  left: -1px;
  position: relative;
}

.footbox {
  width: 100%;
}
.contact .footbox,
.about .footbox {
  display: none;
}
.contact footer,
.about footer {
  height: 250px;
}
.contact .bottomtext,
.about .bottomtext {
  margin-top: -10px;
}

.h2x {
  position: absolute;
  height: auto;
  opacity: 0;
}

/* iw divs wrap scaling images */
#iw01 {
  left: 16px;
  top: 8px;
  width: 411px;
  /* width:407px; */
}
#iw02 {
  left: 438px;
  top: 15px;
  width: 292px;
}
#iw03 {
  left: 746px;
  top: 18px;
  width: 252px;
}
#iw04 {
  left: 19px;
  top: 502px;
  width: 407px;
}
#iw05 {
  left: 441px;
  top: 394px;
  width: 557px;
}
#iw07 {
  width: 407px;
  left: 18px;
  top: 1051px;
}
#iw08 {
  width: 363px;
  top: 1124px;
  left: 440px;
}
#iw09 {
  /* width: 192px;
  left: 832px;
  top: 1318px; */
  width: 206xpx;
  left: 811px;
  top: 1317px;
}
#iw10 {
  width: 459px;
  left: 35px;
  top: 1627px;
}
#iw11 {
  width: 477px;
  top: 1599px;
  left: 512px;
}
#hp12 {
  /* paragraph */

  top: 2194px;
  width: 100%;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 1.09px;
  letter-spacing: 0.035em;
  color: white;
}
#hp12textimg {
  width: 666px;
  height: 147px;
  left: 183px;
  top: 39px;
  pointer-events: none;
  opacity: 1;
}
#hp12 p {
  margin-top: 17px;
  margin-bottom: 21px;
}
#hp12 hr {
  width: 972px;
  max-width: 90vw;
}
#hp12 span {
  font-style: italic;
  font-size: 32.5px;
}

#iw13 {
  width: 391px;
  left: 68px;
  top: 2433px;
}
#iw14 {
  width: 498px;
  left: 500px;
  top: 2433px;
}
#iw15 {
  width: 443px;
  left: 42px;
  top: 3102px;
}
#iw16 {
  width: 474px;
  left: 512px;
  top: 3088px;
}
#iw17 {
  width: 1074px;
  top: 3650px;
  left: -15px;
}
#iw18 {
  width: 405px;
  top: 4019px;
  left: 61px;
}
#iw19 {
  width: 469px;
  top: 4059px;
  left: 526px;
}
#iw20 {
  width: 222px;
  /* height: 32px; */
  top: 4425px;
  left: 233px;
}
#iw21 {
  width: 474px;
  top: 4329px;
  left: 26px;
}
#redenvmobile {
  display: none;
}
#iw22 {
  width: 180px;
  top: 4743px;
  left: 26px;
}
#iw23 {
  width: 360px;
  top: 4743px;
  left: 238px;
}
#iw24 {
  width: 367px;
  top: 4744px;
  left: 631px;
}
#hp24alt {
  display: none;
}
#iw25 {
  width: 463px;
  top: 4933px;
  left: 568px;
}

.growing {
  transform: scale(1.03);
  /* transition: .4s; */
}
.imgwrap {
  overflow: hidden;
  position: absolute;
  /* border:3px dashed red; */
  min-height: 500px;
}
.imgwrap img {
  position: relative;
  width: 100%;
  height: auto;
  /* transition: .4s; */
}

picture {
  display: block;
  transform: scale (1);
  transition: 0.48s;
}

.brands li{
  opacity:0;
}
.aboutText{
  opacity:0;
}
/* footer img{
  height:auto;
} */
#f_emdash{
  width:78px;
  height:11px;
}
#f_copy{
  width:98px;
  height:7px;
}
#f_full{
  width:261px;
  height:8px;
}
#f_icon{
  width:16px;
  height:16px;
}
.bottom_forsubs {
  /* border: 1px solid lime; */
  width:90%;
  max-width:var(--maxwidth);
  position: absolute;
  bottom: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.about .bottom_forsubs, .contact .bottom_forsubs{
  display:inline-flex;
}

.home .bottom_forsubs{
  display: none;
}

.about .bottomtext, .contact .bottomtext{
  display: none;
}

.home .bottomtext{
  display: inline-flex;
}








/* ----------   media queries   ----------     */

@media (max-width: 1208px) {
  .brands ul {
    grid-template-columns: 45% 55%;
  }
  .aboutText {
    /* width: 52%; */
    left: 34%;
  }
}




















@media (max-width: 1020px) {
  .imgwrap {
    position: relative;
    left: unset !important;
    top: unset !important;
    max-width: 90vw;

    /* border:3px dashed red; */
    /* min-height:500px !important; */
    margin: 5px;
    display: inline-block;
    min-height: auto;
  }
  .h2x {
    position: relative;
    left: unset !important;
    top: unset !important;
    max-width: 93vw;
    height: auto;
    margin: 5px;
  }
  /* hide red envelope text */
  #iw20,
  #iw21 {
    display: none;
  }
  #redenvmobile {
    display: inline-block;
    max-width: 474px;
  }
  /* hide kqed standalone */
  #hp24,
  #hp25 {
    display: none;
  }
  #hp24alt {
    display: block;
    max-width: 80vw;
    padding: 0 10vw;
  }
  img#hp09 {
    max-width: 240px;
  }
  .vidwrap {
    display: none;
  }
  .home footer {
    position: relative;
    top: unset;
    margin-top: 60px;
  }
  footer {
    height: 260px;
  }
  .bottomtext {
    margin-top: 220px;
  }
  .footbox {
    position: relative;
    top: 15px;
}
  #hp12textimg {
    display: none;
  }
  #hp12 {
    font-size: 20px;
    display: inline;
    color: var(--textgray);
  }

  #hp12 span {
    font-size: inherit;
  }
  #iw17 {
    width: 100%;
  }

  .aboutText br {
    display: none;
  }
}


























@media (max-width: 767px) {
  #hp12 {
    color: #8f8e90;
  }
  #hp12 br {
    display: none;
  }

  #hp12 img {
    opacity: 0;
    display: none;
  }
  .brands ul {
    grid-template-columns: 1fr;
  }
  .aboutText {
    position: relative;
    width: unset;
    left: 0;
    align-items: center;
    padding: 0 50px 20px;
    display: flex;
  }
  #frank {
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .contactText {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding: 20px;
  }
  #contactimage {
    width: 50%;
    display: block;
    padding: 40px 0 0 0;
    margin: 0 auto;
    left: 0;
  }

  .contact .bigimg {
    display: block;
    position: relative;
  }
  .hamburger {
    right: 20px;
  }
  .closex {
    top: 7px;
    left: 1px;
  }

  #hp12 p {
    padding: 0 18%;
  }

  .navmenu {
    /* we are in the <767px zone  */
    /* right: 23px; */
    width: 260px;
  }
  .navmenu li {
     /* for < 767 wide  */
     /* transform: translate(6px, 0); */
    /* transform: translate(38px, 0px); */
    color:inherit;
  }
  /* .about .bottom_forsubs, .contact .bottom_forsubs{
    display: none;
  } */
  

  
}








@media (max-width:576px) {
  .navmenu {
    /* right: 23px;     */
    width: 240px;
  }
  #logo {
    width: 110px;
    height: auto;
    top: 2px;
  }
  .about .bottomtext, .contact .bottomtext{
    display:inline-flex;
  }
  .bottom_forsubs{
    display:none  !important;
  }
}


@media (max-width:418px) {
  .navmenu {
    top: 36px;
  }
}
